main {
    height: 90vh;
    display: flex;
    flex-flow: wrap column;
    align-items: center;
}

main h1 {
    margin: 64px;
    color: white;
    font-family: 'DMSans';
}

main h2, main a {
    color: white;
    font-family: 'DMSans';
    font-size: 24px;
    font-weight: 400;
}

main h2 {
    margin: 64px;
}